# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# Outputs and caches
outputs/
.cache/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Huggingface cache
huggingface/

# Logs
*.log
